/*==== Box Sizing ====*/
* {
    box-sizing: border-box;
}

/*==== Fonts ====*/
@font-face{
    font-family: "titleFont";
    src: url("./fonts/BebasNeue-Regular.ttf"); /* TODO */
}

:root{
    --c_front:  #BD2B2C;
    --c_back: #0f241d;
    /*
    green_front: rgba(2, 176, 110, 0.9)
    green_back: rgba(15, 36, 29, 1)
    orange_front: #F48A4C
    */
}

table{
    border-collapse: collapse;
}
table td{
    border-bottom: 1px solid var(--c_back);
}

html{
    height: 100%;
    margin: 0;
    padding: 0; 
    background: black;
    background-size: cover;
    /*color: rgba(1, 133, 82, 0.6); */
    color: var(--c_front);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

.content-box{
    background-color: rgba(15, 36, 29, 0.2);
    border-style: solid;
    border-width: 2px;
    border-color: var(--c_back);
    border-radius: 5px;
}

.bottom-content{
    background-color:  rgba(15, 36, 29, 0.2);
    border-style: solid;
    border-width: 2px;
    border-color: var(--c_back);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
}

article{
    margin: 0px;
}

nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    text-decoration: none;
    border: 2px solid  var(--c_back);
    border-radius: 5px;
    display: block;
    margin: 10px 0 0 10px;
    overflow: hidden;
    font-family: titleFont;
    font-size: 2em;
}
a:visited{
    color: var(--c_front);
}

a.active{
    background-color:var(--c_front);
    color: var(--c_back);
}

header{
    margin: 0;
    background-image: url("./images/header_test2.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 5px;
    border-bottom: 2px solid var(--c_back);
}

header h1{
    text-align: center;
    font-family: titleFont;
    font-size: 4em;
}

input.inputField{
    background-color:  rgba(15, 36, 29, 0.2);
    border-style: solid;
    border-width: 2px;
    border-color: var(--c_back);
    border-radius: 5px;
    height: 3em;
    color: white;
    font-family: titleFont;
}


/*==== Galleria ====*/
.galleria-container{
    margin: auto;
    max-width: 100%;
}
.galleria-theme-classic{
    background-color: rgba(0, 0, 0, 0.2);
}


/*==== RESPONSIVE ====*/

[class*="col-"] { /*mobile first*/
    float: left;
    padding: 15px;
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (min-width: 600px) {
    /* tablet */
    .col-t-1 {width: 8.33%;}
    .col-t-2 {width: 16.66%;}
    .col-t-3 {width: 25%;}
    .col-t-4 {width: 33.33%;}
    .col-t-5 {width: 41.66%;}
    .col-t-6 {width: 50%;}
    .col-t-7 {width: 58.33%;}
    .col-t-8 {width: 66.66%;}
    .col-t-9 {width: 75%;}
    .col-t-10 {width: 83.33%;}
    .col-t-11 {width: 91.66%;}
    .col-t-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* számítógép */
    .col-half {width: 4.17%}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}